<style>
.dirrectionbutton{
  border-radius: 8px;
  font-size:48px;
  opacity: 0.7;
  outline: none;
  background: white;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding: 6px 10px;
}

.dirrectionbutton:hover {
  opacity: 1;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  /*-webkit-transition: .2s; */
  /*transition-duration: 0.4s; */
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  width: 120px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #dfe617;
  width: 100%;
}

.button2:hover {
  background-color: #dfe617;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  width: 120px;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

div.contain {
  width: 240px;
  height: 400px;
  padding: 10px;
  overflow: auto;
}

.green{
  color: #4CAF50;
}
.red{
  color: red;
}
.buttonRed{
  font-size: 25px;
  color: red;
}
.blinkingGreen{
  animation:blinkingTextGreen 2s infinite;
}
.dotGreen {
  animation:blinkingDotGreen 2s infinite;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 4px;
}
.blinkingRed{
  animation:blinkingTextRed 2s infinite;
}
.dotRed {
  animation:blinkingDotRed 2s infinite;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 4px;
}
@keyframes blinkingTextGreen{
  0%{   color: #4CAF50;  }
  50%{  color: transparent; }
  100%{ color: #4CAF50;  }
}
@keyframes blinkingDotGreen{
  0%{   background-color: #4CAF50;  }
  50%{  background-color: transparent; }
  100%{ background-color: #4CAF50;  }
}
@keyframes blinkingTextRed{
  0%{   color: red;  }
  50%{  color: transparent; }
  100%{ color: red;  }
}
@keyframes blinkingDotRed{
  0%{   background-color: red;  }
  50%{  background-color: transparent; }
  100%{ background-color: red;  }
}
</style>